<%- include('common/header', {title: title}); %>
<h1 style="color: #ff0000;">demo B页面</h1>
<h2>demo B页面</h2>
<div class="div2" style="margin-bottom: 30px;">
  <a href="/demoC">这是去往demo C页面的链接</a>
</div>
<div>
  <p>下面是用于测试demoB自定义事件的按钮</p>
  <button id="customer-button3">demoB测试事件三</button>
  <button id="customer-button4">demoB测试事件四</button>
</div>
<%- include('common/demo'); %>
<script>
  document.getElementById("customer-button3").onclick = function () {
    if (sdk) {
      sdk.dispatch('click', this, {
        type: 'demo-b-3',
        clickCount: 1,
        httpCode: 200,
        serviceCode: 200
      })
    }
  };
  document.getElementById("customer-button4").onclick = function () {
    if (sdk) {
      sdk.dispatch('click', this, {
        type: 'demo-b-4',
        clickCount: 1,
        httpCode: 200,
        serviceCode: 200
      })
    }
  };
</script>
<%- include('common/footer'); %>