<%- include('common/header', {title: title}); %>
<p>点击 P 标签</p>

<div>点击 DIV 标签</div>

<div>
  <p>这适用于测试热力图模糊匹配的锚点列表</p>
  <p><a href="#1">part1</a></p>
  <p><a href="#2">part2</a></p>
  <p><a href="#3">part3</a></p>
  <p><a href="#4">part4</a></p>
  <p><a href="#5">part5</a></p>

</div>
<%- include('common/footer'); %>