<div>
  <div class="div1">
    <form action="/demo/demo_form.asp">
      First name:<br>
      <input type="text" name="firstname" value="Mickey">
      <br>
      Last name:<br>
      <input type="text" name="lastname" value="Mouse">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
<div>
  <canvas id="myCanvas"></canvas>
</div>

<div>
  <p>这是为了凑字数的段落</p>
  <p>这是为了凑字数的段落</p>
  <p>这是为了凑字数的段落</p>
  <p>这是为了凑字数的段落</p>
  <p>这是为了凑字数的段落</p>
  <p>这是为了凑字数的段落</p>
  <p>这是为了凑字数的段落</p>
  <p>这是为了凑字数的段落</p>
  <p>这是为了凑字数的段落</p>
  <p>这是为了凑字数的段落</p>
  <p>这是为了凑字数的段落</p>
  <p>这是为了凑字数的段落</p>
  <p>这是为了凑字数的段落</p>
  <p id="p1_page1">这是为了凑字数的段落</p>
  <p class="page1" id="p1_page2">这是为了凑字数的段落</p>
  <p class="page1">这是为了凑字数的段落</p>
  <p class="page1">这是为了凑字数的段落</p>
  <p class="page4">这是为了凑字数的段落</p>
  <p class="page4">这是为了凑字数的段落</p>
  <p class="page4">这是为了凑字数的段落</p>
</div>
<div>
  <p>这是为了凑字数的段落</p>
  <p>这是为了凑字数的段落</p>
  <p>这是为了凑字数的段落</p>
  <p>这是为了凑字数的段落</p>
  <p>这是为了凑字数的段落</p>
  <p>这是为了凑字数的段落</p>
  <p>这是为了凑字数的段落</p>
  <p>这是为了凑字数的段落</p>
  <p>这是为了凑字数的段落</p>
  <p>这是为了凑字数的段落</p>
  <p>这是为了凑字数的段落</p>
  <p>这是为了凑字数的段落</p>
  <p>这是为了凑字数的段落</p>
  <p id="p2_page1">这是为了凑字数的段落</p>
  <p class="page1" id="p2_page2">这是为了凑字数的段落</p>
  <p class="page1" id="page3">这是为了凑字数的段落</p>
  <p class="page1">这是为了凑字数的段落</p>
  <p class="page4">这是为了凑字数的段落</p>
  <p class="page4">这是为了凑字数的段落</p>
  <p class="page4">这是为了凑字数的段落</p>
</div>
<div style="width: 100%;">
  <img style="width: 50%;display: inline-block;float: left;" name="水电费"
    src="https://goss.veer.com/creative/vcg/veer/612/veer-153723733.jpg" alt="">
  <img style="width: 50%;display: inline-block;" src="https://goss.veer.com/creative/vcg/veer/612/veer-153723733.jpg"
    alt="">
</div>