</div>
<div>

</div>
<script>
  (function () {
    var collect = document.createElement('script');
    collect.type = 'text/javascript'
    collect.src = 'http://10.200.20.205:8080/index.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(collect, s);
  })();
  window._XT = window._XT || []; //定义信息配置对象
  
</script>
<script>

</script>
</body>

</html>