<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <style type="text/css">
    .sidebar {
      width: 200px;
      float: left;
    }

    .container {
      width: 70%;
      float: left;
    }
  </style>
</head>

<body>

  <div class="sidebar">
    <ul>
      <li><a href="/">首页</a></li>
      <li><a href="/demoA">demoA</a></li>
      <li><a href="/demoB">demoB</a></li>
      <li><a href="/demoC">demoC</a></li>
      <li><a href="/phoneList">手机号</a></li>
      <li><a href="/heatMap">热力图</a></li>
      <li><a href="/angular/index.html">angular</a></li>
      <li><a href="/react/index.html">react</a></li>
      <li><a href="/vue/index.html">vue</a></li>
    </ul>
  </div>
  <div class="container">